__pycache__
*.pyc
*.swp
*.swo
*.7z
*.log
graph*.dot

# default output directory
autoscrape-data*/

# Algorithmic/Training Data-Related Files
# Currently stored in a separate git repo (private, currently)
# Will be released once ready, minimized, over LFS
deps/
training_data/
*.pickle

# python virtual environment
venv

# webdriver remote settings
nodeConfig.json

# python setup tools
build/
dist/
autoscrape_py.egg-info/
autoscrape.egg-info/
