[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
html5lib = "==1.0.1"
selenium = "==3.12.0"
six = "==1.11.0"
webencodings = "==0.5.1"
docopt = "==0.6.2"
networkx = "==2.2"
numpy = "==1.15.0"
Flask = "==1.0.2"
celery = "==4.2.1"

[dev-packages]
watchdog = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
